.todo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    margin-bottom: 13px;
    padding: 0 20px;
    background-color: var(--paletteColor2);
    border-radius: 5px;
    box-shadow: 6px 6px 14px var(--rgbaColor1);
    font-size: 20px;
    font-weight: 400;
}

.todo .content {
    display: flex;
    align-items: center;
    width: 85%;
}

.todo .content input[type='text'] {
    width: 100%;
    border-color: transparent;
}

.todo .content input[type='text']:not([disabled]) {
    border-color: var(--paletteColor3);
}

.todo .content span {
    display: flex;
    align-items: center;
    margin-right: 1.9rem;
}
